.autocomplete {
  max-width: 600px;
  font-size: 14px;
  background: #fff;
}

.autocomplete-container {
  color: #000;
}

.autocomplete-container .input{
  border: 1px solid #c4c4c4;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.autocomplete-container .input input{
  border: none;
  width: 95%;
  height: 30px;
  margin-left: 8px;
}

.autocomplete-container .input .close{
  width: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocomplete-container .input .close:hover{
  cursor: pointer;
}

.autocomplete-container .input input:focus{
  outline: none;
}

.autocomplete-data{
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin-top: 6px;
  position: absolute;
  max-width: 600px;
  background: #fff;
}

.autocomplete-data .item{
  height: 20px;
  padding: 6px 12px;
}

.autocomplete-data .item:hover{
  cursor: pointer;
  background: #e0dfdf;
}